#main > aside {
  padding: 10px;
  background: rgb(255, 255, 255);
}

aside > #searchbox {
  height: 41px;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: solid;
  border-color: lightgrey;
  border-width: 1px;
  background: rgb(247, 247, 247);
}