.btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor:pointer;
}

.btn:hover {
  background-color: lightgrey;
  color: white;
}

.vr {
  width: 1px;
  height: 24px;
  opacity: 0.4;
  background-color: #d8d8d8;
}